{% extends "Todo/layout.html" %}

{% block body %}

<div id="search" data-search_url = "{% url 'Todo:searchtask' %}">
    <nav id="searchbar"class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </nav>
</div>

<div id="tasks" >
    <ul data-delete_url = "{% url 'Todo:deletetask' %}">
        {% for task in tasks %}
        <li class="taskli">{{ task }}
            <i class="fa fa-trash" aria-hidden="true"></i>
        </li>
        {% endfor %}
    </ul>
</div>

<div id="ad">
    <form class="addform"  data-task_url = "{% url 'Todo:addtask' %}">
        {% csrf_token %}
        <div class="addinput">
            {{form}}
        </div>
        <input type="submit" value="Add!">
    </form>
</div>

{% endblock %}