@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary: #065F46;
    --secondary: #A7F3D0;
    --tertiary: #10B981;
}

body{
    background-color: var(--secondary);
}

ul{
    width: 400px;
    margin: auto;
}

li{
    list-style-type:none;
    padding: 10px 30px;
    border: 1px solid #fff;
    background-color: var(--primary);
    color: #fff;
    border-radius: 50px;
    margin: 10px;
    width: 100%;
}

@media screen and (max-width: 410px){
    li{
        width: 90vw;
    }
}

.taskli{
    position: relative;
} 

.fa-trash{
    position: absolute;
    right: 25px;
    cursor:pointer;
}

.fa-trash:hover{
    color: rgb(0, 132, 255);

}

#ad{
    width: 40vw;
    background-color: var(--tertiary);
    margin: auto;
    padding: 20px;
    color: #fff;
    border-radius: 50px;
    padding-left: 50px;
}

#id_task{
    padding:10px;
    padding-left:20px;
    border: 0px;
    outline-width: 0px;
    border-radius: 20px;
    margin:10px;
    width: 25vw;
}

input[type="submit"]{
    background-color: var(--secondary);
    width: 100px;
    border-radius:25px;
    padding: 4px;
    border: 0px;
}

#searchbar{
    background-color: var(--tertiary) !important;
}
button[type="submit"]{
    color: #fff;
    border-color: #fff;
}

@keyframes add-task-animation {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

.animateAdd{
    animation: add-task-animation 1s;
    animation-fill-mode: forwards;
}

@keyframes remove-task-animation{
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
        display: none;
    }
}

.animateRemove{
    animation: remove-task-animation 1s;
    animation-fill-mode: forwards;
}

